.hide { display: none; } 

.w75p { width: 75% !important; }
.w100p { width: 100% !important; }

.w500 { width: 500px !important; }
.w650 { width: 650px !important; }
.w700 { width: 700px !important; }


.row-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.col-space-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-left-space{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}